/**
 *
 * Author : Aditya Shakya (adi1090x)
 * Github : @adi1090x
 * 
 * Colors
 **/

* {
    background:     rgba ( 55, 66, 82, 50% );
    background2:    rgba ( 55, 66, 82, 100% );
    background-alt: rgba ( 4, 48, 75, 90% );
    foreground:     #6dbabfFF;
    selected:       #6dbabfFF;
    active:         #00FF00FF;
    urgent:         #FF0000FF;
}
